
<%= form_for(@link_finder) do |f| %>
  <% if @link_finder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_finder.errors.count, "error") %> prohibited this link_finder from being saved:</h2>

      <ul>
      <% @link_finder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span9 add_form" style="margin-top: 30px; ">
    <div class="span4">
      <%= f.text_field :name, :placeholder => "Event Name" %>
    </div>
    <div class="span4">
      <p>
        Enter the name of the event or group.
      </p>
    </div>
  </div>

  <div class="span9 add_form">
    <div class="span4">
      <%= f.text_field :url, :placeholder => "Event URL" %>
    </div>
    <div class="span4">
      <p>
        Enter the URL for the event. If it is from eventbrite make sure you have chosen an event and not an organization (shouldn't have "org/" anywhere in the URL).
      </p>
    </div>
  </div>

  <div class="span9 add_form">
    <div class="span2">
      <%= f.label :service_selection_meetup, "Meetup" %>
      <%= f.radio_button :service_selection, 1 %>
    </div>
    <div class="span2">
      <%= f.label :service_selection_eventbrite, "Eventbrite" %>
      <%= f.radio_button :service_selection, 2 %>
    </div>
    <div class="span4">
      <p>
        Select which service you're getting the information from.
      </p>
    </div>
  </div>

  <div class="span9">
    <p>NOTE: If you receive an error make sure your link is correct. If unsure email <a href="mailto:spencercarli@gmail.com" target="_blank">spencercarli@gmail.com</a> for help or Twitter <a href="http://www.twitter.com/spencer_carli" target="_blank">@spencer_carli</a>.
    </p>
  </div>

  <div class="span8">
    <div class="actions">
      <%= f.submit "Create Link", :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
