<%= form_for(@link_finder) do |f| %>
  <% if @link_finder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link_finder.errors.count, "error") %> prohibited this link_finder from being saved:</h2>

      <ul>
      <% @link_finder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
