<br />
<p class="lead">Get links for Cintrifuse Calendar</p>

<table class="table table-striped">
  <tr>
    <th>Name of Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @link_finders.each do |link_finder| %>
  <tr>
    <td><%= link_finder.name %></td>
    <td><%= link_to 'Show', link_finder %></td>
    <td><%= link_to 'Edit', edit_link_finder_path(link_finder) %></td>
    <td><%= link_to 'Destroy', link_finder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Link finder', new_link_finder_path, class: 'btn btn-primary', method: :get %>
