<p id="notice"><%= notice %></p>

<p class="lead">
  <%= @link_finder.name %>
</p>

<p>
	<b>URL for event:</b>
</p>
<div class="well">
  <%= @link_finder.url %>
</div>

<p>
	<b>URL for Time.ly Calendar:</b>
</p>
<div class="well">
  <%= @link %>
</div>


<%= link_to 'Edit', edit_link_finder_path(@link_finder) %> |
<%= link_to 'Back', link_finders_path %>
